h1 {
    font-family: Calibri;
    color: white;
    text-align: center;
    font-size: 47px;
    line-height: 1;
    width: 100%;
    padding: 30px;
  }

h2 {
    font-family: Calibri;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #134f72, #694c21);
  }